*.o
.sconf_temp/
.sconsign.dblite
config.log
*.a
src/equus
src/eqtest
src/cloudkick-agent
src/lua/*.h
src/swig/*_wrap.c
*~
*.swp
._*
src/equus_loader_blob.c
src/equus_loader_blob.h
src/equus_bootstrap.c
src/equus_bootstrap.h
src/equus_testbootstrap.c
src/equus_testbootstrap.h
src/equus_localdev.c
src/equus_localdev.h
src/equus_pubkey.c
src/equus_pubkey.h
src/lua/remote/*.sig
.deps
extern/alien/libffi/Makefile
extern/alien/libffi/config.status
extern/alien/libffi/fficonfig.h
extern/alien/libffi/include/Makefile
extern/alien/libffi/include/ffi.h
extern/alien/libffi/include/ffitarget.h
extern/alien/libffi/libffi.pc
extern/alien/libffi/libtool
extern/alien/libffi/man/Makefile
extern/alien/libffi/stamp-h1
extern/alien/libffi/testsuite/Makefile
src/lua/modules/*.lua
extern/luac
*.obj
*.lib
*.pyc
src/lua/remote/structs.lua
packaging/*.conf
packaging/debian.*
s3_deploy
docs/*.8
docs/*.8.gz
*.tar.bz2
*.tar.gz
*.deb
etc/agent-linux.private.key
etc/agent-windows.private.key
src/lua/remote/jmxquery-1.0.jar
extern/sigar/src/sigar_version_autoconf.c
src/classes
